<form  (ngSubmit)="onSubmit(contactFrm)"  [formGroup]="contactFrm">
  <h2>{{data.modalTitle}}</h2>
  
  <div>
      <mat-form-field appearance="outline">
      <mat-label>Name</mat-label>
      <input matInput placeholder="Name" formControlName="name">
      <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> -->
      <!-- <mat-hint>Hint</mat-hint> -->
      <mat-error *ngIf="formErrors.name">
        {{ formErrors.name }}
      </mat-error>
    </mat-form-field>
  </div>
  <div>
    <mat-form-field appearance="outline">
      <mat-label>Email</mat-label>
      <input type="email" matInput placeholder="email" formControlName="email">
      <mat-error *ngIf="formErrors.email">
        {{ formErrors.email }}
      </mat-error>
    </mat-form-field>
  
  </div>
  <p>
      <mat-radio-group class="contact-radio-group" formControlName="gender" >
        <mat-radio-button class="contact-radio-button" *ngFor="let gndr of genders" [value]="gndr.id">
          {{ gndr.name }}
        </mat-radio-button>
      </mat-radio-group>
      <mat-error *ngIf="formErrors.gender">
        {{ formErrors.gender }}
      </mat-error>
  </p>
  <div>
    <mat-form-field appearance="outline">
      <input matInput [matDatepicker]="picker" placeholder="Choose a birthday" formControlName="birth">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    
    <mat-error *ngIf="formErrors.birth ">
      {{ formErrors.birth }}
    </mat-error>
    </mat-form-field>
  </div>
  <div>
    <mat-form-field appearance="outline">
      <mat-select placeholder="Select a Technology" formControlName="techno">
        <mat-option>-- None --</mat-option>
        <mat-option *ngFor="let techno  of technologies" [value]="techno">
          {{ techno }}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="formErrors.techno ">
        {{ formErrors.techno }}
      </mat-error>
    </mat-form-field>
  </div>
  <div>
    <mat-form-field appearance="outline">
      <textarea matInput placeholder="Message..." formControlName="message"></textarea>
      <mat-error *ngIf="formErrors.message ">
        {{ formErrors.message }}
      </mat-error>
    </mat-form-field>
  </div>
  <div>
  
    <button type="button" mat-raised-button color="warn" (click)="dialogRef.close()">Cancel</button>&nbsp;
    <button type="submit" mat-raised-button color="primary" [disabled]="contactFrm.invalid">{{data.modalBtnTitle}}</button>
  </div>
  
  </form>